.card{
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 400px;
    display: inline-block;
    height: 400px;
    vertical-align: middle;

}

.card button {
    border-radius: 50%;
}

.compare{
    height: 40px;
    width: 80px;
    border: none;
    background-color: #E8E8E8;
    border-radius: 5px;
    margin: 15px;
    margin-right: 40px;
}




.image{
    max-width: 60%;
    max-height: 60%;
}

.compare:hover{
    cursor: pointer;
    background-color: #d0cece;
    
}

.wish{
    height: 40px;
    width: 80px;
    border: none;
    background-color: #E8E8E8;
    border-radius: 5px;
    margin: 15px;
    margin-left: 40px;
}

.wish:hover{
    cursor: pointer;
    background-color: #d0cece;
    
}

