.card{
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 400px;
    display: inline-block;
    height: 400px
    
}