.compare-view {
    width: 65vw;
    height: 80vh;
    background-color: rgb(240, 240, 240);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: start;
    gap: 10px;
}