.loadDiv {
    height: 80vh;
    width: 30vw;
    background-color: rgb(240, 240, 240);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    margin-left: 1.5vw;
    overflow-y: auto;


}

.loadDiv h2 {
    padding-left: 30%;
    padding-top: 2%;
}